

body{
    
    background-image: url(img/background.jpg);
    background-size: inherit;
    background-repeat: no-repeat;
    height: 100vh;
    margin: auto;
    
}

h2{
    text-transform: uppercase;
    
}
.content{
    height: 100vh;
    display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
    display: inline-block;
    background: #fff;
    align-content: center;
    text-align: center;
    max-width: 500px;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 0px 16px 25px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 16px 25px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 16px 25px 0px rgba(0,0,0,0.24);
   
    
}

.nav{
    color: lightcoral;
    background: lightgoldenrodyellow;
    height: 45px;
    width: 45px;
    align-content: center;
    display: inline;
}

.dot{
    height: 25px;
    width: 25px;
    color:black;
    border-radius: 50%;
    display: inline-block;
   
}

.payments{
    
    
}

.tophead{
    border-bottom: solid black 1px;
    border-width: 100%;
}

.card{
    border-bottom: solid black 1px;
    border-width: 100%;
}

.visa{
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    border-bottom: solid black 1px;
    border-width: 100%;

    
  
    
}

.mastercard{
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: solid black 1px;
    border-width: 100%;


}

.maestro{
    display: flex;
    align-items: center;
    text-align: center;
  

}

.visa:hover{
    background-color:#e2e2e277;
   
}

.visa::selection{
    background-color:#e2e2e277;
}

.mastercard:hover{
    background-color:#e2e2e277;
   
}

.maestro:hover{
    background-color:#e2e2e277;
   
}


.logo{
    display: inline-block;
    height: 24px;
    padding: 24px;
   


}

.logo2{
    padding-left:188px ;
}
.cta{
  
    align-items: center;
    text-align: center;
    



}

.button{
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 4px 150px ;
    border: none;
    background-color: #6391f3;
}

.arrow{
    padding: 16px;
}
